@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Recipe Project</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Recipe Project</h2>
        <p>
            Recipe Website is the quick and easy way to collect, organize and share all your
            favorite recipes across your mobile, tablet and desktop.Recipe apps and websites 
            can make profits on advertising, online shopping, paid content and their big data.
            Some recipe apps and websites are backed by large e-commerce sites and some of them 
            have also been in the market for more than a decade.

        </p>
    </div>
    <div class="col-md-4">
        <h2>ADD RECIPES QUICKLY AND EASILY</h2>
        <p>Enter your recipes with as much or as little information as you like. 
        Copy and paste recipes from your existing documents or apps. Categorize your recipes by course and category. 
        Add photos, rate your recipes and flag your favorites. </p>
        <p><a class="btn btn-default" href="https://localhost:5001/Recipes">Recipes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FIND ANY RECIPE INSTANTLY</h2>
        <p>Quickly lookup your recipes by name, ingredient or directions or
        simply browse your recipes by course, category and rating.  
        Search for a recipe to use them up. Cook more of your favorite meals
        and rediscover those long-forgotten recipes to make mealtimes interesting again.</p>
        <p><a class="btn btn-default" href="https://localhost:5001/Recipes">Recipes &raquo;</a></p>
    </div>
</div>